// Links

/*| Link |*/
%link {
  display: inline-block;
  font-family: $serif;
  font-weight: $serif-regular;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  border-width: 3px;
  border-bottom-style: solid;
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
  }
}

/*| Button Light ||||||||*/
.link-light {
  @extend %link;
  color: $blue;

  &:hover {
    color: $black;
    border-color: $black;
  }
}

/*| Button Dark ||||||||*/
.link-dark {
  @extend %link;
  color: $yellow;

  &:hover {
    color: $yellow;
    border-color: $secondary-yellow;
  }
}

/*| Button Alt ||||||||*/
.link-alt {
  @extend %link;
  color: $grey;

  &:hover {
    color: $grey;
    border-color: $secondary-grey;
  }
}

/*| Button CTA ||||||||*/
.link-cta {
  @extend %link;
  color: $black;
  &:hover {
    color: $black;
    border-color: $secondary-yellow;
  }
}
