// Navigation

/*| Navigation One ||||||||*/
%navigation {
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-width: 20px;
    border-style: solid;
}

.navigation-one {
    @extend %navigation;
    color: #fff;
    background-color: transparent;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: #000;
        color: #fff;
    }
}