// Navigation

/*| Navigation One ||||||||*/
%navigation {
  color: transparent;
  background-color: transparent;
  border-radius: 3px;
  margin: 15px 0;
  text-decoration: none;
  box-shadow: $button-shadow;
  height: 10vh;
  width: auto;
  ul {
    li {
      margin: 5px;
      a,
      li > li a {
        color: transparent;
        border-color: transparent;
        border-style: solid;
        border-width: 3px;
        border-radius: 3px;
        padding: 15px 30px !important;
        transition: all 0.3s ease-in-out;
        &:hover,
        &:focus,
        &:focus-within,
        &:active {
          color: transparent;
          background-color: transparent;
        }
      }
    }
  }
  .navbar-brand {
    color: transparent;
    font-family: $sans-serif;
    padding: 0 30px;
    > svg {
      width: 50px;
      height: auto;
      padding: 5px;
    }
  }
  p,
  span,
  .navbar-text {
    color: transparent;
    font-family: $sans-serif;
    padding: 0 30px;
  }
  .dropdown-menu {
    background-color: transparent;
    border-color: transparent;
    border-width: 3px;
    padding: 0;
    text-decoration: none;
    .dropdown-item {
      font-family: $serif;
      font-size: 15px;
      color: transparent;
      padding: 15px 30px;
      transition: all 0.3s ease-in-out;
      &:hover,
      &:focus,
      &:focus-within,
      &:active {
        color: transparent;
        background-color: transparent;
        border-color: transparent;
      }
    }
    .dropdown-divider {
      border-width: 3px;
      margin: 0;
    }
  }

  @media only screen and (max-width: 992px) {
    a,
    li > li a {
      text-align: center;
    }
    .navbar-brand {
      padding: 0;
      > svg {
        width: 30px;
        height: auto;
        padding: 0;
      }
    }
    p,
    span {
      padding: 15px;
    }
    .dropdown-menu {
      text-align: center;
    }
    .navbar-toggler {
      color: transparent;
      border-color: transparent;
      border-style: solid;
      border-width: 3px;
      border-radius: 3px;
      padding: 5px;
    }
    .navbar-collapse {
      z-index: 1;
      background-color: transparent;
      border-color: transparent;
      border-style: solid;
      border-width: 3px;
      border-radius: 3px;
      text-decoration: none;
      margin-top: 5px;
      text-align: center;
      ul li {
        margin: 0;
        a {
          border-radius: 0;
          display: block;
          width: 100%;
        }
      }
    }
  }
}

.navigation-one {
  @extend %navigation;
  color: $black;
  background-color: $yellow;
  ul {
    li {
      a,
      li a {
        color: $black !important;
        &:hover,
        &:focus,
        &:focus-within,
        &:active {
          color: $yellow !important;
          background-color: $secondary-yellow;
          border-color: $secondary-yellow;
        }
      }
    }
  }
  .navbar-brand {
    color: $black !important;
  }
  p,
  span {
    color: $black !important;
  }
  .dropdown-menu {
    background-color: $yellow;
    border-color: $secondary-yellow;
    .dropdown-item {
      color: $black;
      background-color: $yellow;
      &:hover,
      &:focus,
      &:focus-within,
      &:active,
      &:visited {
        color: $yellow;
        background-color: $secondary-yellow;
        border-color: $secondary-yellow;
      }
    }
    .dropdown-divider {
      border-color: $secondary-yellow;
    }
  }
}

@media only screen and (max-width: 992px) {
  .navigation-one {
    @extend %navigation;
    .navbar-toggler {
      color: $black;
      border-color: $ternary-black;
    }
    .navbar-collapse {
      background-color: $yellow;
      border-color: $secondary-yellow;
    }
  }
}
