//App Base

/*| System Colors ||||||||*/
$yellow: #ffcc00;
$secondary-yellow: #e0b400;

$blue: #5465ff;
$secondary-blue: #3347ff;

$black: #272932;
$secondary-black: #3f4250;

$grey: #c3c3e6;
$secondary-grey: #d9dbf1;

/*| System Shadows ||||||||*/
$button-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
$card-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);

/*| System Font Imports ||||||||*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;900&display=swap");

/*| System Fonts ||||||||*/
$sans-serif: "Roboto", sans-serif;
$serif: "Roboto Slab", serif;

/*| System Font Weights ||||||||*/
$sans-serif-regular: 400;
$sans-serif-bold: 500;
$serif-regular: 500;
$serif-bold: 900;
