//App Base

/*| System Colors ||||||||*/
$yellow: #ffcc00;
$secondary-yellow: #e0b400;
$ternary-yellow: rgba(255, 204, 0, 0.25);

$blue: #5465ff;
$secondary-blue: #3347ff;
$ternary-blue: rgba(51, 71, 255, 0.25);

$black: #272932;
$secondary-black: #3f4250;
$ternary-black: rgba(39, 41, 50, 0.25);

$grey: #c3c3e6;
$secondary-grey: #d9dbf1;
$ternary-grey: rgba(195, 195, 230, 0.25);

/*| System Shadows ||||||||*/
$button-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
$card-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.1);

/*| System Font Imports ||||||||*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;900&display=swap");

/*| System Fonts ||||||||*/
$sans-serif: "Roboto", sans-serif;
$serif: "Roboto Slab", serif;

/*| System Font Weights ||||||||*/
$sans-serif-regular: 400;
$sans-serif-bold: 500;
$serif-regular: 500;
$serif-bold: 900;
